.mobile {
  display: none;
}

.wrapper {
  max-width: 1450px;
  padding: 0px 15px;
  margin: 0px auto;
  overflow: hidden;
}

/* ---------------sidebar-------------------------- */

.sidebar {
  margin: 44px 0px 0px 0px;
}

.my-site {
  font-size: 80px;
  font-weight: 500;
  line-height: 85px;
  color: rgba(51, 51, 51, 0.5);

  width: 133px;
}

.translation1 {
  font-size: 16px;
  font-weight: 600;

  color: rgba(51, 51, 51, 0.5);
}

/* ---------------main-page-------------------------- */

.content {
  display: flex;
  height: 500px;
}

/* ---------------header-------------------------- */

.header {
  display: flex;
  justify-content: space-between;
  margin: 44px 0px 0px 0px;
}

.divider {
  position: relative;
  font-size: 20px;
  top: 6px;
}

.menu__link:not(:last-child) {
  margin: 0px 32px 0px 0px;
}

.menu__link {
  font-size: 30px;
  color: #333;
  line-height: 32px;
  font-weight: 500;
}

.social-media {
  display: flex;
  font-size: 22px;
  margin: 0px 0px 0px 0px;
}

.social__medias__link {
  font-size: 30px;
  color: #333;
  line-height: 32px;
  font-weight: 500;
}

/* ---------------main-page-title-------------------------- */

.titles {
  margin: 140px 0px 0px 0px;
}

.titles__title {
  font-size: 70px;
  font-weight: 600;
  line-height: 90px;

  max-width: 800px;
}

.titles__subtitle {
  font-size: 54px;
  font-weight: 500;
  line-height: 62px;

  width: 500px;
}

.pdf {
  font-weight: 500;
  font-size: 30px;

  margin: 0px 0px -5px 23px;
}

.arrow {
  position: relative;

  top: 38px;
  left: -19px;
  width: 16px;
}

/* ---------------main-page-image-------------------------- */

.image {
  position: relative;
  margin: 0px auto;
  padding: 80px 0px 0px 0px;
}

.circle {
  z-index: 1;
  background: #8e1d23;

  width: 34em;
  height: 34em;
  border-radius: 50em;
}

.main-img {
  position: absolute;
  height: 800px;

  z-index: 50;

  top: -88px;
}

/* ---------------about-page-sidebar-------------------------- */

.about {
  font-size: 80px;
  font-weight: 500;
  line-height: 85px;
  color: rgba(51, 51, 51, 0.5);

  width: 133px;
}

.translation2 {
  font-size: 16px;
  font-weight: 600;

  color: rgba(51, 51, 51, 0.5);
}

/* ---------------about-page-text-------------------------- */

.about-text {
  font-size: 46px;
  font-weight: 600;
  line-height: 55px;

  margin: 56px 0px 0px 0px;
}

/* ---------------education-skills-page-sidebar------------------------- */

.sidebar-skills__skills {
  font-size: 80px;
  font-weight: 500;
  line-height: 85px;
  color: rgba(51, 51, 51, 0.5);

  width: 133px;
}

.translation3 {
  font-size: 16px;
  font-weight: 600;

  color: rgba(51, 51, 51, 0.5);
}

/* ---------------education-skills-page-------------------------- */

.education-skills-page__text {
  display: flex;
  width: 1135px;
  flex-direction: column;
  margin: 20px 0px 0px 0px;
}

.education-skills-page__text h1 {
  font-size: 54px;
  font-weight: 700;
  line-height: 58px;
}

.education-text__text-title {
  font-size: 37px;
  font-weight: 600;
  line-height: 48px;

  padding: 22px 0px 5px;
}

.education-text__text-subtitle {
  font-size: 29.5px;
  font-weight: 600;
  line-height: 38px;

  padding: 5px 0px;
}

.education-text__text-subsubtitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

.skills-text {
  font-size: 29.5px;
  font-weight: 600;
  line-height: 40px;
}

.languages {
  margin: 0px 135px 0px 0px;
}

.languages-text {
  font-size: 29.5px;
  font-weight: 600;
  line-height: 40px;
}

.skills-text-block {
  padding: 22px 0px;
}

.languages-text-block {
  padding: 22px 0px;
}

.circle-education {
  position: relative;

  width: 72px;
  height: 72px;
  border-radius: 100px;

  background: #e4333d;
  opacity: 0.65;

  top: 64px;
  left: -4px;

  z-index: -1;
}

.circle-skills {
  position: relative;

  width: 72px;
  height: 72px;
  border-radius: 100px;

  background: #e4333d;
  opacity: 0.65;

  top: 64px;
  left: -4px;

  z-index: -1;
}

.circle-languages {
  position: relative;

  width: 72px;
  height: 72px;
  border-radius: 100px;

  background: #e4333d;
  opacity: 0.65;

  top: 64px;
  left: -4px;

  z-index: -1;
}

/* ---------------back-to-top-------------------------- */

.back-to-top {
  position: fixed;
  height: 77px;
  width: 77px;
  bottom: -100px;
  right: 50px;
  background: rgba(142, 29, 35, 0.1);
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
