.mobile {
  display: none;
}

.wrapper {
  max-width: 770px;
  padding: 0px 15px;
  margin: 0px auto;
  overflow: hidden;
}

/* ---------------sidebar-------------------------- */

.sidebar {
  margin: 30px 0px 0px 0px;
}

.my-site {
  font-size: 50px;
  font-weight: 500;
  line-height: 55px;
  color: rgba(51, 51, 51, 0.5);

  width: 79px;
}

.translation1 {
  font-size: 10px;
  font-weight: 600;

  color: rgba(51, 51, 51, 0.5);
}

/* ---------------main-page-------------------------- */

.content {
  display: flex;
  height: 308px;
}

/* ---------------header-------------------------- */

.header {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px 0px 0px;
}

.divider {
  position: relative;
  font-size: 16px;
  top: 8px;
}

.menu__link:not(:last-child) {
  margin: 0px 20px 0px 0px;
}

.menu__link {
  font-size: 21px;
  color: #333;
  line-height: 32px;
  font-weight: 500;
}

.social-media {
  display: flex;
  font-size: 22px;
  margin: 0px 0px 0px 0px;
}

.social__medias__link {
  font-size: 21px;
  color: #333;
  line-height: 32px;
  font-weight: 500;
}

/* ---------------main-page-title-------------------------- */

.titles {
  margin: 95px 0px 0px 0px;
}

.titles__title {
  font-size: 35px;
  font-weight: 600;
  line-height: 45px;

  max-width: 800px;
}

.titles__subtitle {
  font-size: 25px;
  font-weight: 500;
  line-height: 35px;

  width: 240px;
}

.pdf {
  font-weight: 500;
  font-size: 22px;

  margin: 0px 0px -1px 23px;
}

.arrow {
  position: relative;

  top: 27px;
  left: -19px;
  width: 16px;
}

/* ---------------main-page-image-------------------------- */

.image {
  position: relative;
  margin: 0px auto;
  padding: 80px 0px 0px 0px;
}

.circle {
  z-index: 1;
  background: #8e1d23;

  width: 20em;
  height: 20em;
  border-radius: 50em;
}

.main-img {
  position: absolute;
  height: 490px;

  z-index: 50;

  top: -55px;
}

/* ---------------about-page-sidebar-------------------------- */

.about {
  font-size: 50px;
  font-weight: 500;
  line-height: 55px;
  color: rgba(51, 51, 51, 0.5);

  width: 79px;
}

.translation2 {
  font-size: 10px;
  font-weight: 600;

  color: rgba(51, 51, 51, 0.5);
}

/* ---------------about-page-text-------------------------- */

.about-text {
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;

  margin: 56px 0px 0px 0px;
}

/* ---------------education-skills-page-sidebar------------------------- */

.sidebar-skills__skills {
  font-size: 50px;
  font-weight: 500;
  line-height: 55px;
  color: rgba(51, 51, 51, 0.5);

  width: 79px;
}

.translation3 {
  font-size: 10px;
  font-weight: 600;

  color: rgba(51, 51, 51, 0.5);
}

/* ---------------education-skills-page-------------------------- */

.education-skills-page__text h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
}

.education-text__text-title {
  font-size: 25px;
  font-weight: 600;
  line-height: 45px;

  padding: 22px 0px 5px;
}

.education-text__text-subtitle {
  font-size: 18.5px;
  font-weight: 600;
  line-height: 20px;

  padding: 5px 0px;
}

.education-text__text-subsubtitle {
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
}

.skills-text {
  font-size: 18.5px;
  font-weight: 600;
  line-height: 20px;
}

.languages {
  margin: 0px 107px 0px 0px;
}

.languages-text {
  font-size: 18.5px;
  font-weight: 600;
  line-height: 20px;
}

.skills-text-block {
  padding: 22px 0px;
}

.languages-text-block {
  padding: 22px 0px;
}

.circle-education {
  position: relative;

  width: 40px;
  height: 40px;
  border-radius: 100px;

  background: #e4333d;
  opacity: 0.65;

  top: 38px;
  left: -3px;

  z-index: -1;
}

.circle-skills {
  position: relative;

  width: 40px;
  height: 40px;
  border-radius: 100px;

  background: #e4333d;
  opacity: 0.65;

  top: 38px;
  left: -3px;

  z-index: -1;
}

.circle-languages {
  position: relative;

  width: 40px;
  height: 40px;
  border-radius: 100px;

  background: #e4333d;
  opacity: 0.65;

  top: 38px;
  left: -3px;

  z-index: -1;
}

/* ---------------back-to-top-------------------------- */

.back-to-top.active {
  bottom: 30px;
}

.back-to-top {
  position: fixed;
  height: 40px;
  width: 40px;
  bottom: -100px;
  right: 30px;
  background: rgba(142, 29, 35, 0.1);
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.back-to-top img {
  height: 23px;
}
